In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import ast
import warnings; warnings.simplefilter('ignore')
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [41]:
df=pd.read_csv(r"D:\Python\Datasets\KAGGLE MOVIEDATASET\movies_metadata.csv")

In [42]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [20]:
df.genres[1]

['Adventure', 'Fantasy', 'Family']

In [10]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [13]:
df["genres"]=df["genres"].apply(ast.literal_eval)

In [16]:
for i in df["genres"][1]:
    print(i["name"])

Adventure
Fantasy
Family

In [19]:
df["genres"]=df["genres"].apply(lambda x:[i["name"] for i in x] if isinstance(x, list) else [])

In [21]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [54]:
small=pd.read_csv(r"D:\Python\Datasets\KAGGLE MOVIEDATASET\links_small.csv")
small.shape

(9125, 3)

In [26]:
df.shape

(45466, 24)

In [27]:
df["id"]

0           862
1          8844
2         15602
3         31357
4         11862
5           949
6         11860
7         45325
8          9091
9           710
10         9087
11        12110
12        21032
13        10858
14         1408
15          524
16         4584
17            5
18         9273
19        11517
20         8012
21         1710
22         9691
23        12665
24          451
25        16420
26         9263
27        17015
28          902
29        37557
          ...
45436     45527
45437    455661
45438    327237
45439     84710
45440     39562
45441     14008
45442     44330
45443     49279
45444     44333
45445     49277
45446     49271
45447     44324
45448    122036
45449     14885
45450     49280
45451    106807
45452    276895
45453    404604
45454    420346
45455     67179
45456     84419
45457    390959
45458    289923
45459    222848
45460     30840
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45466, dtype: object

In [43]:
df["id"][2]

'15602'

In [35]:
df = df.drop([19730, 29503, 35587])

In [44]:
df["id"]=pd.to_numeric(df["id"],errors="coerce")

In [45]:
df["id"][1]

8844.0

In [49]:
df_new=df[df.id.notnull()]

In [50]:
df_new.shape

(45463, 24)

In [59]:
smd = df_new[df_new['id'].isin(small["tmdbId"])]
smd.shape

(9099, 24)

In [ ]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [61]:
smd["tagline"]=smd.tagline.fillna("")

In [64]:
smd['description'] = smd['overview'] + smd['tagline']

In [65]:
smd['description'] = smd['description'].fillna('')

In [ ]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [67]:
tf=TfidfVectorizer(analyzer="word",stop_words="english")
tfidf_matrix=tf.fit_transform(smd["description"])

In [68]:
tfidf_matrix

<9099x30708 sparse matrix of type '<class 'numpy.float64'>'
	with 264122 stored elements in Compressed Sparse Row format>

In [69]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [72]:
cosine_sim.shape

(9099, 9099)

In [81]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [82]:
indices

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
Heat                                                     5
Sabrina                                                  6
Tom and Huck                                             7
Sudden Death                                             8
GoldenEye                                                9
The American President                                  10
Dracula: Dead and Loving It                             11
Balto                                                   12
Nixon                                                   13
Cutthroat Island                                        14
Casino                                                  15
Sense and Sensibility                                   16
Four Rooms                                              17
Ace Ventura: When Nature Calls                          18
Money Train                                             19
Get Shorty                                              20
Copycat                                                 21
Assassins                                               22
Powder                                                  23
Leaving Las Vegas                                       24
Othello                                                 25
Now and Then                                            26
Persuasion                                              27
The City of Lost Children                               28
Shanghai Triad                                          29
                                                      ...
Teenage Mutant Ninja Turtles: Out of the Shadows      9069
Popstar: Never Stop Never Stopping                    9070
The Conjuring 2                                       9071
Approaching the Unknown                               9072
Ghostbusters                                          9073
Central Intelligence                                  9074
Jason Bourne                                          9075
The Maid's Room                                       9076
The Legend of Tarzan                                  9077
The Purge: Election Year                              9078
Mike and Dave Need Wedding Dates                      9079
Survive and Advance                                   9080
Tallulah                                              9081
Piper                                                 9082
Nerve                                                 9083
My Friend Rockefeller                                 9084
Sunspring                                             9085
Author: The JT LeRoy Story                            9086
Hell or High Water                                    9087
Kingsglaive: Final Fantasy XV                         9088
Body                                                  9089
Sharknado 4: The 4th Awakens                          9090
The Last Brickmaker in America                        9091
Rustom                                                9092
Mohenjo Daro                                          9093
Shin Godzilla                                         9094
The Beatles: Eight Days a Week - The Touring Years    9095
PokÃ©mon: Spell of the Unknown                         9096
PokÃ©mon 4Ever: Celebi - Voice of the Forest           9097
Force Majeure                                         9098
Length: 9099, dtype: int64

In [ ]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [97]:
idx=indices["The Godfather"]

In [98]:
idx

692

In [99]:
cosine_sim[idx]

array([0.        , 0.00789727, 0.03733791, ..., 0.        , 0.        ,
       0.0255225 ])

In [100]:
sim_scores=list(enumerate(cosine_sim[idx]))

In [101]:
sim_scores=sorted(sim_scores,key=lambda x:x[1], reverse=True)

In [102]:
movie_indices=[i[0] for i in sim_scores]
print(titles.iloc[movie_indices])

692                                        The Godfather
973                               The Godfather: Part II
1582                             The Godfather: Part III
3509                                                Made
4196                                  Johnny Dangerously
8387                                          The Family
7760                                       Henry's Crime
7591                                             Machete
9076                                     The Maid's Room
5593                                              Eulogy
2412                                      American Movie
3607                                     Family Business
5271                                  The Valachi Papers
8649                                 The Look of Silence
2305                                     Double Jeopardy
8129                                            Sinister
7322                                         City Island
4489                                               Q & A
5217                                   The Best of Youth
6714                                  Death at a Funeral
4144                                   Road to Perdition
4788                                      Mambo Italiano
4395                                       Bad Influence
3715                                            3 Ninjas
8105                               The Cold Light of Day
5667                                                Fury
4160                              The Master of Disguise
1681                                   The Addams Family
4555                               House of 1000 Corpses
618                                              Thinner
                              ...
9045                                             Grimsby
9047                                              Demons
9048                         The Last Days of Emma Blank
9049                                      The Neon Demon
9050                             Hello, My Name Is Doris
9051                                      Life Is Sacred
9052                                               Keanu
9055                          The Huntsman: Winter's War
9056                        Neighbors 2: Sorority Rising
9057                                                Hush
9058                                       Money Monster
9059                                        Finding Dory
9060                                          I Am Wrath
9061                                        Mother's Day
9062                                       The Nice Guys
9064                                        The Shallows
9066                                        Kill Command
9067                                    Now You See Me 2
9069    Teenage Mutant Ninja Turtles: Out of the Shadows
9071                                     The Conjuring 2
9073                                        Ghostbusters
9074                                Central Intelligence
9075                                        Jason Bourne
9082                                               Piper
9085                                           Sunspring
9086                          Author: The JT LeRoy Story
9089                                                Body
9091                      The Last Brickmaker in America
9096                       PokÃ©mon: Spell of the Unknown
9097         PokÃ©mon 4Ever: Celebi - Voice of the Forest
Name: title, Length: 9099, dtype: object